html{
    background-image: linear-gradient(to top, #c98a04, whitesmoke);
    background-repeat: no-repeat;
    background-size: cover;

}
body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    width: 100vw;
    height: 100vh;
}
#navBar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
    top: -50px;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
#nav{
    display: flex;
    flex-direction: row;
}
#home{
    display: inline-block;
    color: gray;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    margin-right: 1075px;

}
#home:hover{
    background-color: gray;
    color: whitesmoke;
}
nav{
    display: block;
    position: relative;
}
a{
    margin-left: 40px;
}
#s{
    color: gray;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}
#s:hover{
    background-color: gray;
    color: whitesmoke;
}
#logo{
    width: 20px;
}
#coverImage{
    display: inline-block;
    justify-content: center;
}
#coverImage img{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
}
#welcome{
    text-align: center;
    padding-left: 10vw;
}
#welcome h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: xx-large;
    font-weight: 900;
    font: bold;
    width: 37vw;
    height: 28vh;
}


#searchSection{
    display: flex;
    width: 100vw;
    margin-top: 100px;
}
#leftPanel{
    width: 50vw;
}
h1{
    margin-top: 40vh;
    margin-left: 22vw;
    margin-bottom: 0%;
}
#search1{
    color: whitesmoke;
    border: black;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: #f36235;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 22vw;
    font-weight: 600;
    font-size: xx-large;
}
#formSection{
    background-color: none;
    width: fit-content;
}
#form{
    margin-left: 60px;
    background-color: whitesmoke;
    border-radius: 5px;
}
#search{
    text-decoration: none;
    border: 0;
    background-color: whitesmoke;
}
#searchbtn{
    border-radius: 5px;
    border: 0px;
    padding: 1rem;
    background-color: #f36235;
    text-decoration-color: whitesmoke;
    color: whitesmoke;
}
#underLeft{
    display: flex;
    margin-top: 10px;
}
h2{
    margin-left: 60px;
}
select{
    border: 0;
    background-color: whitesmoke;
    margin-left: 10px;
    border-radius: 10px;
    height: 3vh;
    align-self: center;
}
li{
    list-style: none;
    font-size: large;
    width: fit-content;
}
li #bList:hover{
    color: blueviolet;
    cursor: pointer;
    margin-right: 245px;
}
#hiddenP{
    text-indent: -9999px;
}
li::first-letter{
    text-transform: uppercase;
}
p{
    margin-left: 60px;
    width: fit-content;
}

#rightPanel{
    width: 50vw;
}
a{
    color: black;
}
.website{
    margin-left: 0;
}
.img{
    min-width: 45vw;
    max-width: 50vw;
    max-height: 50vh;
    object-fit: cover;
    border-radius: 5px;
}
h3{
    font-size: x-large;
}
#Information li{
    padding-bottom: 10px;
}

h4{
    margin: 20px;
    font-size: smaller;
    display: flex;
    flex-direction: row-reverse;
}