html{
    background-image: linear-gradient(to top, #c98a04, whitesmoke);
    background-repeat: no-repeat;
    background-size: cover;

}
body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    width: 100vw;
    height: 100vh;
}
#navBar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
    top: 0;
}
#home{
    display: inline-block;
    color: bisque;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
#home:hover{
    background-color: bisque;
    color: whitesmoke;
}
nav{
    float: right;
}
#logo{
    width: 10px;
}
#coverImage{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* #newList{
    display: block;
}
#upperSection {
    width: 1vw;
    display: inline-flex;
}
#section {
    display: flex;
    align-items: center;
    flex-direction: row;
    border:  solid;
    border-radius: 5px;
    border-color: bisque;
    border-width: .3rem;
    width: 1vw;
    background-color: whitesmoke;
}
#displayDiv{
    width: 50%;
}
#type{
    border: 0px;
    background-color: whitesmoke;
}
#search {
    border: 0px;
    background-color: whitesmoke;
}
#search::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

#searchbtn{
    border: 0px;
    border-radius: 5px;
    padding: 1rem;
    background-color: bisque;
    text-decoration-color: whitesmoke;
}
li {
    list-style: none;
    padding: 5px;
}
a{
    color: black;
}
li::first-letter{
    text-transform: uppercase;
}
img{
    width: 30rem;
    height: 30rem;
    object-fit: contain;
}
h3{
    font-size: x-large;
} */